# vscode folder
.history
.vscode

# python folders
virtualenv
src/oandatradingbot.egg-info
.mypy_cache
.pytest_cache
.tox
__pycache__
dist
results

# config files
*dev.json
*prod.json

# other files
.coverage*
api.py
*.db
set_env_vars*